In [1]:
import pandas as pd
import numpy as np

import  matplotlib.pyplot  as plt
% matplotlib inline
% load_ext autoreload
% autoreload 2

In [141]:
lifeExpPath = 'data/IHME_USA_COUNTY_LE_ONLY_1980_2014_NATIONAL_Y2017M05D08.csv'
censusPath = 'data/cc-est2016-alldata.csv'
leCols = ['Location', 'FIPS', 'Life expectancy, 2010*', 'Life expectancy, 2014*']
lifeExpDF = pd.read_csv(lifeExpPath, dtype = {'FIPS': int}, skiprows = [1, 3195, 3196],
                       usecols = leCols)
censusCols = ["STATE", "COUNTY", "YEAR", "AGEGRP", "TOT_POP", "STNAME", "CTYNAME",# general information.
              "IA_FEMALE", "IA_MALE", "IAC_FEMALE", "IAC_MALE",# American Indian and Alaskan Native only
                                                               # or American Indian and Alaskan Native only+Combo
              "NA_FEMALE", "NA_MALE", "NAC_FEMALE", "NAC_MALE",]# Same as above but with Native Hawaiians and
                                                               # pacific islanders
#               "HIA_FEMALE", "HIA_MALE", "HIAC_FEMALE", "HIAC_MALE", # Same as the first group but with Hispanics
#               "HNA_FEMALE", "HNA_MALE", "HNAC_FEMALE", "HNAC_MALE"] # Same as second group but with Hispanics
censusDF = pd.read_csv(censusPath, encoding = "ISO-8859-1", usecols = censusCols,
                      dtype = {"STATE": str, "COUNTY": str})
censusDF = censusDF[censusDF.AGEGRP == 0]
censusDF = censusDF[censusDF.YEAR.isin([3, 7])]# these years correspond to 2010 and 2014. 2010 is a bit weird
# in that there are 3 estimates for it. As far as I can tell the third one is the most like the 2014 census data.
# this was determined using the census Data methedology pdf.
censusDF.STATE = censusDF.STATE.apply(lambda x: x.lstrip("0"))
censusDF.insert(0, "FIPS", censusDF.STATE + censusDF.COUNTY)
censusDF.drop(["STATE", "COUNTY"], axis = 1, inplace = True)
censusDF.FIPS = censusDF.FIPS.astype(int)

In [142]:
# extract out the census data into year specific dataframes
censusDF_2010 = censusDF[censusDF.YEAR == 3]
censusDF_2014 = censusDF[censusDF.YEAR == 7]

In [143]:
# Change from raw population to percentage of total of county population.
censusDF_2014.iloc[:,6:] = censusDF_2014.iloc[:,6:].divide(censusDF_2014.TOT_POP, axis = 'index')
censusDF_2010.iloc[:,6:] = censusDF_2010.iloc[:,6:].divide(censusDF_2010.TOT_POP, axis = 'index')

/home/ob2285/anaconda3/envs/lifeExpCount/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [144]:
# Remove confidence intervals and convert LE to a float
lifeExpDF['Life expectancy, 2010*'] = lifeExpDF['Life expectancy, 2010*'].apply(lambda x: float(x.split()[0]))
lifeExpDF['Life expectancy, 2014*'] = lifeExpDF['Life expectancy, 2014*'].apply(lambda x: float(x.split()[0]))

In [145]:
lifeExpDF.head()

,Location,FIPS,"Life expectancy, 2010*","Life expectancy, 2014*"
0,Alabama,1,75.58,75.65
1,"Autauga County, Alabama",1001,75.74,75.67
2,"Baldwin County, Alabama",1003,77.80,78.08
3,"Barbour County, Alabama",1005,75.34,75.42
4,"Bibb County, Alabama",1007,74.13,73.97

In [146]:
censusDF.head()

,FIPS,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,IA_MALE,IA_FEMALE,NA_MALE,NA_FEMALE,IAC_MALE,IAC_FEMALE,NAC_MALE,NAC_FEMALE
38,1001,Alabama,Autauga County,3,0,54742,116,135,29,17,258,301,42,33
114,1001,Alabama,Autauga County,7,0,54977,122,153,32,20,286,307,52,47
209,1003,Alabama,Baldwin County,3,0,183199,664,674,76,54,1303,1333,124,117
285,1003,Alabama,Baldwin County,7,0,199745,759,756,63,54,1506,1551,137,145
380,1005,Alabama,Barbour County,3,0,27348,87,72,29,17,150,108,35,19

In [147]:
censusDF_2010.head()

,FIPS,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,IA_MALE,IA_FEMALE,NA_MALE,NA_FEMALE,IAC_MALE,IAC_FEMALE,NAC_MALE,NAC_FEMALE
38,1001,Alabama,Autauga County,3,0,54742,0.002119,0.002466,0.000530,0.000311,0.004713,0.005499,0.000767,0.000603
209,1003,Alabama,Baldwin County,3,0,183199,0.003624,0.003679,0.000415,0.000295,0.007112,0.007276,0.000677,0.000639
380,1005,Alabama,Barbour County,3,0,27348,0.003181,0.002633,0.001060,0.000622,0.005485,0.003949,0.001280,0.000695
551,1007,Alabama,Bibb County,3,0,22861,0.001531,0.001444,0.001181,0.000175,0.003631,0.003456,0.001356,0.000306
722,1009,Alabama,Blount County,3,0,57376,0.003120,0.003067,0.000627,0.000418,0.006205,0.006553,0.000819,0.000645

In [148]:
censusDF_2014.head()

,FIPS,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,IA_MALE,IA_FEMALE,NA_MALE,NA_FEMALE,IAC_MALE,IAC_FEMALE,NAC_MALE,NAC_FEMALE
114,1001,Alabama,Autauga County,7,0,54977,0.002219,0.002783,0.000582,0.000364,0.005202,0.005584,0.000946,0.000855
285,1003,Alabama,Baldwin County,7,0,199745,0.003800,0.003785,0.000315,0.000270,0.007540,0.007765,0.000686,0.000726
456,1005,Alabama,Barbour County,7,0,26763,0.003400,0.002466,0.000971,0.000635,0.005605,0.003774,0.001158,0.000822
627,1007,Alabama,Bibb County,7,0,22511,0.001910,0.001821,0.001066,0.000133,0.003465,0.004042,0.001333,0.000444
798,1009,Alabama,Blount County,7,0,57621,0.003245,0.002898,0.000677,0.000382,0.006369,0.007168,0.000885,0.000694

In [149]:
lifeExpDF.FIPS.head()

0       1
1    1001
2    1003
3    1005
4    1007
Name: FIPS, dtype: int64

In [ ]:
censusDF_2010.FIP

In [160]:
# merge dataframes on FIPS and remove some redundant columns
lifeExpRaceDF_2010 = lifeExpDF.merge(censusDF_2010, how = "inner", on = "FIPS")
lifeExpRaceDF_2014 = lifeExpDF.merge(censusDF_2014, how = "inner", on = "FIPS")
lifeExpRaceDF_2010.drop(labels = ["YEAR", "AGEGRP"], axis = 1, inplace = True)
lifeExpRaceDF_2014.drop(labels = ["YEAR", "AGEGRP"], axis = 1, inplace = True)

In [164]:
lifeExpRaceDF_2010.head(n = 5)

,Location,FIPS,"Life expectancy, 2010*","Life expectancy, 2014*",STNAME,CTYNAME,TOT_POP,IA_MALE,IA_FEMALE,NA_MALE,NA_FEMALE,IAC_MALE,IAC_FEMALE,NAC_MALE,NAC_FEMALE
0,"Autauga County, Alabama",1001,75.74,75.67,Alabama,Autauga County,54742,0.002119,0.002466,0.000530,0.000311,0.004713,0.005499,0.000767,0.000603
1,"Baldwin County, Alabama",1003,77.80,78.08,Alabama,Baldwin County,183199,0.003624,0.003679,0.000415,0.000295,0.007112,0.007276,0.000677,0.000639
2,"Barbour County, Alabama",1005,75.34,75.42,Alabama,Barbour County,27348,0.003181,0.002633,0.001060,0.000622,0.005485,0.003949,0.001280,0.000695
3,"Bibb County, Alabama",1007,74.13,73.97,Alabama,Bibb County,22861,0.001531,0.001444,0.001181,0.000175,0.003631,0.003456,0.001356,0.000306
4,"Blount County, Alabama",1009,76.41,76.16,Alabama,Blount County,57376,0.003120,0.003067,0.000627,0.000418,0.006205,0.006553,0.000819,0.000645

In [165]:
lifeExpRaceDF_2014.head(n = 5)

,Location,FIPS,"Life expectancy, 2010*","Life expectancy, 2014*",STNAME,CTYNAME,TOT_POP,IA_MALE,IA_FEMALE,NA_MALE,NA_FEMALE,IAC_MALE,IAC_FEMALE,NAC_MALE,NAC_FEMALE
0,"Autauga County, Alabama",1001,75.74,75.67,Alabama,Autauga County,54977,0.002219,0.002783,0.000582,0.000364,0.005202,0.005584,0.000946,0.000855
1,"Baldwin County, Alabama",1003,77.80,78.08,Alabama,Baldwin County,199745,0.003800,0.003785,0.000315,0.000270,0.007540,0.007765,0.000686,0.000726
2,"Barbour County, Alabama",1005,75.34,75.42,Alabama,Barbour County,26763,0.003400,0.002466,0.000971,0.000635,0.005605,0.003774,0.001158,0.000822
3,"Bibb County, Alabama",1007,74.13,73.97,Alabama,Bibb County,22511,0.001910,0.001821,0.001066,0.000133,0.003465,0.004042,0.001333,0.000444
4,"Blount County, Alabama",1009,76.41,76.16,Alabama,Blount County,57621,0.003245,0.002898,0.000677,0.000382,0.006369,0.007168,0.000885,0.000694

In [166]:
# Write those puppies to csv my dude
lifeExpRaceDF_2010.to_csv("data/LE_censusData_2010.csv")
lifeExpRaceDF_2010.to_csv("data/LE_censusData_2014.csv")

In [159]:
# this information is also in the censusDataKey pdf but it's helpful to put it here too
yearDict = {"1":"4/1/2010 Census population",
            "2":"4/1/2010 population estimates base",
            "3":"7/1/2010 population estimate",
            "4":"7/1/2011 population estimate",
            "5":"7/1/2012 population estimate",
            "6":"7/1/2013 population estimate",
            "7":"7/1/2014 population estimate",
            "8":"7/1/2015 population estimate",
            "9":"7/1/2016 population estimate",}# Maps year ID to human readable year
ageGrpDict = {"0":"Total",
              "1":"Age 0 to 4 years",
              "2":"Age 5 to 9 years",
              "3":"Age 10 to 14 years",
              "4":"Age 15 to 19 years",
              "5":"Age 20 to 24 years",
              "6":"Age 25 to 29 years",
              "7":"Age 30 to 34 years",
              "8":"Age 35 to 39 years",
              "9":"Age 40 to 44 years",
              "10":"Age 45 to 49 years",
              "11":"Age 50 to 54 years",
              "12":"Age 55 to 59 years",
              "13":"Age 60 to 64 years",
              "14":"Age 65 to 69 years",
              "15":"Age 70 to 74 years",
              "16":"Age 75 to 79 years",
              "17":"Age 80 to 84 years",
              "18":"Age 85 years or older",}# Maps age group ID to year.

In [19]:
censusDF[censusDF.AGEGRP == 0]

,STATE,COUNTY,YEAR,AGEGRP,TOT_POP,IA_MALE,IA_FEMALE,NA_MALE,NA_FEMALE,IAC_MALE,...,NAC_MALE,NAC_FEMALE,HIA_MALE,HIA_FEMALE,HNA_MALE,HNA_FEMALE,HIAC_MALE,HIAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,1,1,1,0,54571,119,139,29,18,277,...,42,37,16,24,16,9,26,32,19,10
19,1,1,2,0,54571,119,139,29,18,277,...,42,37,16,24,16,9,26,32,19,10
38,1,1,3,0,54742,116,135,29,17,258,...,42,33,9,16,15,7,16,29,17,11
57,1,1,4,0,55255,117,141,34,19,266,...,47,38,8,17,13,6,26,32,15,7
76,1,1,5,0,55027,119,155,29,17,275,...,47,40,9,16,11,6,27,30,20,9
95,1,1,6,0,54792,123,150,30,19,278,...,62,46,12,14,9,5,37,33,13,11
114,1,1,7,0,54977,122,153,32,20,286,...,52,47,10,19,9,5,32,36,12,12
133,1,1,8,0,55035,120,148,29,24,271,...,45,56,14,21,10,6,29,34,14,16
152,1,1,9,0,55416,124,145,29,27,295,...,50,48,20,16,12,8,44,42,15,12
171,1,3,1,0,182265,662,677,72,49,1295,...,127,84,104,85,25,10,189,163,45,26
190,1,3,2,0,182265,662,677,72,49,1295,...,127,84,104,85,25,10,189,163,45,26
209,1,3,3,0,183199,664,674,76,54,1303,...,124,117,100,78,26,10,182,148,43,34
228,1,3,4,0,186653,685,691,68,60,1346,...,127,135,92,75,25,14,181,150,43,32
247,1,3,5,0,190403,709,709,65,62,1399,...,134,140,91,76,24,18,178,153,43,37
266,1,3,6,0,195147,732,732,61,59,1433,...,130,132,100,79,19,17,195,162,35,32
285,1,3,7,0,199745,759,756,63,54,1506,...,137,145,103,72,18,11,203,150,33,36
304,1,3,8,0,203690,775,766,59,61,1553,...,126,146,100,78,15,14,192,153,36,27
323,1,3,9,0,208563,818,790,64,60,1627,...,142,158,103,76,20,14,205,171,34,33
342,1,5,1,0,27457,93,73,29,18,162,...,33,23,62,42,13,10,69,44,14,10
361,1,5,2,0,27457,93,73,29,18,162,...,33,23,62,42,13,10,69,44,14,10
380,1,5,3,0,27348,87,72,29,17,150,...,35,19,56,39,14,9,60,41,15,9
399,1,5,4,0,27326,85,68,29,18,147,...,32,20,53,34,14,9,60,36,14,9
418,1,5,5,0,27132,82,65,28,17,149,...,32,20,50,34,13,9,55,38,13,9
437,1,5,6,0,26938,81,65,27,17,149,...,31,22,49,33,13,9,55,35,15,9
456,1,5,7,0,26763,91,66,26,17,150,...,31,22,52,31,12,9,56,33,12,10
475,1,5,8,0,26270,91,64,26,17,164,...,31,23,53,32,12,9,58,33,12,9
494,1,5,9,0,25965,96,68,26,19,169,...,29,25,56,33,13,11,61,35,13,11
513,1,7,1,0,22915,35,33,28,5,84,...,33,9,0,1,22,4,1,3,23,5
532,1,7,2,0,22919,35,33,28,5,84,...,33,9,0,1,22,4,1,3,23,5
551,1,7,3,0,22861,35,33,27,4,83,...,31,7,0,1,22,3,3,5,22,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536712,56,39,7,0,22846,105,106,13,12,196,...,30,32,70,59,9,5,97,74,13,8
536731,56,39,8,0,23073,113,98,15,10,196,...,39,30,72,60,11,5,95,76,17,6
536750,56,39,9,0,23191,109,101,16,14,206,...,23,35,70,63,11,6,100,85,13,7
536769,56,41,1,0,21118,115,123,18,20,219,...,38,35,57,58,4,0,66,73,6,1
536788,56,41,2,0,21118,115,123,18,20,219,...,38,35,57,58,4,0,66,73,6,1
536807,56,41,3,0,21102,113,122,19,21,215,...,34,35,55,60,5,0,64,74,5,1
536826,56,41,4,0,20918,116,126,19,21,223,...,38,32,57,62,5,0,68,75,7,1
536845,56,41,5,0,20997,119,133,26,22,224,...,44,32,56,67,6,0,65,79,10,0
536864,56,41,6,0,21006,118,137,23,20,236,...,37,31,61,71,6,0,82,85,6,1
536883,56,41,7,0,20871,123,138,22,20,240,...,35,36,65,73,6,0,80,83,9,2
536902,56,41,8,0,20819,116,143,26,20,223,...,42,38,58,71,8,0,70,86,10,0
536921,56,41,9,0,20773,116,150,26,17,220,...,34,31,58,78,8,0,71,89,8,2
536940,56,43,1,0,8533,70,65,4,4,118,...,7,7,47,37,4,3,56,52,4,3
536959,56,43,2,0,8533,70,65,4,4,118,...,7,7,47,37,4,3,56,52,4,3
536978,56,43,3,0,8544,69,66,3,5,104,...,7,7,46,36,3,4,54,54,3,6
536997,56,43,4,0,8470,71,67,3,5,106,...,10,7,46,37,3,4,57,55,3,6
537016,56,43,5,0,8437,70,66,5,6,105,...,7,8,45,35,5,5,54,52,5,6
537035,56,43,6,0,8442,73,74,5,6,114,...,8,10,49,44,4,5,62,61,5,6
537054,56,43,7,0,8306,69,78,4,4,107,...,6,7,46,45,3,3,53,63,3,3
537073,56,43,8,0,8334,62,81,5,6,110,...,10,12,43,46,4,5,53,61,6,6
537092,56,43,9,0,8235,57,80,4,6,102,...,8,12,40,45,4,5,51,66,4,6
537111,56,45,1,0,7208,58,39,2,1,104,...,3,1,11,0,1,0,16,6,1,0
537130,56,45,2,0,7208,58,39,2,1,104,...,3,1,11,0,1,0,16,6,1,0
537149,56,45,3,0,7182,59,37,2,1,97,...,5,2,11,0,1,0,13,5,1,0
537168,56,45,4,0,7112,61,41,2,0,101,...,8,1,12,3,1,0,15,7,2,1
537187,56,45,5,0,7065,71,40,1,0,113,...,4,4,15,3,1,0,21,13,1,0
537206,56,45,6,0,7163,67,46,1,0,115,...,7,4,12,5,1,0,19,18,2,2
537225,56,45,7,0,7179,67,48,1,0,114,...,4,2,12,6,1,0,20,16,1,0
537244,56,45,8,0,7230,62,44,1,0,105,...,5,5,12,7,1,0,16,14,3,2
537263,56,45,9,0,7236,64,43,1,0,114,...,4,3,12,7,1,0,21,18,1,1

In [30]:
temp = "1"